html {
    margin: 0;
    padding: 0;
}
p {
    margin: 0;
    width: 100%;
}
*{
    box-sizing: border-box;
}

.header-container{
    width: 100%;
    text-align: center;
}

.list {
    margin: 0;
    width: 100%;
    display: inline-block;
    text-align: center;
}
.list > * {
    display: inline;
    border: none;
    background-color: transparent;
    padding: 1em;
    margin: 0 2.5em;
}
.list a {
    color: black;
    text-decoration: none;
}



aside > img,
aside > a,
aside > h1 {
    text-align: center;
}

aside{
    padding: 1em;
    width: 18%;
    display: flex;
    flex-direction: column;
    border: .3em  solid green;
    height: fit-content;
}

article {
    width: fit-content;
    margin-left: 1em;
    display: flex;
    flex-direction: column;
    padding: 1em;
    text-align: center;
    background-color: rgb(215 255 242);
    margin-bottom: 1em;
    border: 3px solid rgb(112, 255, 210);
}


.wrap {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.wrap > img {
    width: 8%;
}

.img-center {
    display: inline-block;
    width: 100%;
    text-align: center;
}


